@import 'normalize.css';

body,
.cf {
  *zoom: 1;
}
body:before,
.cf:before,
body:after,
.cf:after {
  content: '';
  display: table;
}
body:after,
.cf:after {
  clear: both;
}
*,
*:before,
*:after {
  *behavior: url("js/libs/boxsizing.htc");
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1, figure, fieldset {
  margin: 0;
}
html, body {
  height: 100%;
  overflow-x: hidden;
}
body {
  width: 100%;
  overflow-y: scroll;
}
img,
video,
audio,
embed,
object,
input,
iframe {
  max-width: 100%;
}

